*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
bin/
WebApi/bin/*
Infrastructure/bin/*
Business/bin/*
Data/bin/*

# Visual Studio 2015
.vs/

*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release

/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
